/*header*/
.container-header-admin {
    margin-top: 0px !important;
}
.container-opt-admin {
    margin-top: 0px !important;
}
/*common*/
.admin-content-panel {
    background-color: #EEEEEE;
    margin-top: 50px !important;
    margin-left: 200px;
}
/*usercontent*/
@media screen and (max-width: 600px) {
    #admin-userlevel button{
        padding: 0px !important;
    }
    #admin-userlevel>li>a {
    padding: 10px 0px !important;
}
}

#admin-userlevel img {
    max-width: 72px;
    height: auto;
}
.tab-content{
    background-color: #FFF !important;
}

/*taskscontent*/
