/*@import url(//fonts.googleapis.com/earlyaccess/cwtexhei.css);*/
*{
    margin: 0;
    padding: 0;
}
html {
    height: 100%;
}
body {
    background-color: #EEEEEE;
}
#memberIndex-body {
    background-color: rgb(241,241,241);
    max-width: 100%;
}
* {
    font-family: 'Microsoft JhengHei', sans-serif;
}
.bg-dark{
    background-color: #343A40;
}
.bg-primary {
    background-color: #007bff!important;
}
.bg-warning {
    background-color: #ffc107!important;
}
.bg-success {
    background-color: #28a745!important;
}
.bg-dark h1 {
    color: #FFF;
}
.btn-circle {
    border-radius: 100%;
    padding: 10px;
    margin-right: 2px;
    margin-bottom: 2px;
}
.btn-primary {
	background-color: #4CB6C2 !important;
    border-color: #4CB6C2 !important;
}
.text-primary {
    color: #4CB6C2 !important;
}
.text-white {
    color: #FFF;
}
.bg-login {
    background-image: url(../pic/login3.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-color: #202f50;
    
}
.div-shadow {
    -webkit-box-shadow: -3px 6px 5px #aaa;
    -moz-box-shadow: -3px 6px 5px #aaa;
    box-shadow: -3px 6px 5px #aaa;
}
.p_comingSoon {
    font-size: 10em;
    text-shadow: 5px 5px #ddd;
}
img.width70 {
    width: 70%;
}

img.width100 {
    width: 100%;
}

img.height300{
    height:300px;
}

.marginTop-20 {
    margin-top: 20px;
}
.marginBottom-20 {
    margin-bottom: 20px;
}

.marginBottom-0 {
    margin-bottom: 0px;
}

.common_bgcolor_color {
    background-color: #ED5D52 !important;
    color: #fff !important;
    /*border-right: 5px solid #333 !important;*/
}

.container {
    /*padding: 0;*/
}

/* link2 table */
.table-sytle{
    padding:0px 10px;
}

.list-group-item.active, .list-group-item.active:focus, .list-group-item.active:hover {
    background-color: #dddddd;
    border-color: #dddddd;
    color: #333;
}


