
.login-panel, .register-panel {
    max-width: 350px;
    margin: 0 auto;
    background-color: rgba(255,255,255,0);
    border:none;
}
.register-panel {
    max-width: 550px !important;
    background-color: rgba(255,255,255,10);
    border: 1px solid #ddd;
}
.login-panel input {
    width: 100%;
    border: 1px #ddd solid;
    padding: 20px;
}
.login-panel a.input-forget {
    color: #FFF;
}
.login-panel  .input-username {    
    border-radius: 5px 5px 0px 0px;    
}
.login-panel  .input-password {
    border-top: none;
    border-radius: 0px 0px 5px 5px;
} 
.login-panel  .input-none{
    border-top: none;
    border-radius:0px;
}