<header>
    <div id="container-header"  class="optOpen">
        <div>
            <button id="optButton" type="button" class="btn btn-lg" aria-label="Left Align" style="float: left;margin-top: 5px;">
              <span class="fa fa-bars" aria-hidden="true"></span>
            </button>
        </div>        
         <div class="dropdown pull-right" id="headerToolBar">
            <button class="btn" type="button">
<!--                <span class="fa fa-bell"></span>-->
            </button>
          <button class="btn dropdown-toggle" type="button" id="user-menu-tool" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            <span class="fa fa-power-off"></span>
          </button>
          <ul class="dropdown-menu" aria-labelledby="user-menu-tool">
            <li><a href="#" class="logoutBT"  onclick="logoutEvent();"><span class="fa fa-sign-out " aria-hidden="true"></span >登出</a></li>
          </ul>          
        </div> 
    </div>
    <div id="container-opt" class="optOpen">
        <div id="container-opt-panel">
            <h3 id="HeaderLogo">活動暨獎品系統</h3>
            <div class="sideDateTime text-center">
                <p class="showTime"></p>
                <p class="showDate"></p>
            </div>
            <ul>
                <li class="titleFunction">                    
                    <a href="./Dashboard?param1=Dashboard"><span class="fa fa-home" aria-hidden="true"></span>主頁</a>
                </li>
                <li class="titleFunction">                   
                    <a href="./Fanspages?param1=index"><span class="fa fa-facebook" aria-hidden="true"></span >粉專發文</a>
                </li>
                <li class="titleFunction">                   
                        <a href="./PrizeSet?param1=PrizeSet"><span class="fa fa-gift" aria-hidden="true"></span >活動設定</a>
                </li>
                <li class="titleFunction">                   
                        <a href="./PrizeLog?param1=PrizeLog"><span class="fa fa-bars" aria-hidden="true"></span >獎品紀錄</a>
                </li>
                <li class="titleFunction">                   
                        <a href="./SupplyManage?param1=list"><span class="fa fa-user-circle" aria-hidden="true"></span >店家管理</a>
                </li>
                <li class="titleFunction dropdown">                   
                        <a href="#"><span class="fa fa-thumb-tack" aria-hidden="true"></span >其他設定<span class="fa fa-chevron-down pull-right" aria-hidden="true"></span></a>
                        <ul>
                           <li><a href="./OtherSet?param1=SelfSet" class="hvr-underline-from-center"><span>基本資料設定</span></a></li>
                            <li><a href="./OtherSet?param1=LogoSet" class="hvr-underline-from-center"><span>更換商店Logo</span></a></li> 
                            <li><a href="./OtherSet?param1=BannerSet" class="hvr-underline-from-center"><span>更換活動banner</span></a></li> 
                        </ul>
                </li>
                <li class="titleFunction">                   
                        <a href="#" id="logoutBT" onclick="logoutEvent();"><span class="fa fa-sign-out " aria-hidden="true"></span >登出</a>
                </li>
            </ul>
        </div>
    </div>
    
</header>
<script src="script/header.js"></script>