﻿<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head>
<!--  <link rel="stylesheet" href="style/main.css">-->
    <script>
        var link = document.createElement('link');
        link.rel = 'stylesheet';
        link.href = 'style/main.css?v=' + Date.now();
        document.head.appendChild(link);
    </script>
    <link rel="stylesheet" href="plugin/taginput/bootstrap-tagsinput.css"/>
    <style>
        .bootstrap-tagsinput {
            width: 100%;
        }
    </style>
</head>
<body id="websiteIndex-body">   
    <div class="frame-wrapper container-fluid ">    
        <div id="content-panel" class="optOpen">
           <div class="panel panel-default">
              <div class="panel-body">
                    <div id="content-wrapper">
                        <p class="text-left">
                            <a href="Fanspages?param1=index"><span class="fa fa-arrow-left"> 回上一頁</span></a>  
                        </p>
                        <h3 id="fanpagetitle" class="text-center"></h3>
                        <hr>             
                        <div id="PrizeSetContent">
                              <div class="row container-fluid">
                                  <div class="col-md-12">
                                    <div class="table-responsive">
                                      <table id="loadArticleTable" class=" table table-hover table-bordered" style="width:100%">
                                          <thead>
                                                <tr>
                                                    <th>發佈時間</th>
                                                    <th>文章內容</th>
                                                    <th></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                
                                            </tbody>
                                      </table>
                                    </div>

                                  </div>
                            </div>
                      </div>
<!--                      setautoreplyModal設定自動貼文回覆-->
                      <div class="modal fade" id="setautoreplyModal" tabindex="-1" role="dialog" aria-labelledby="setautoreplyModalLabel">
                          <div class="modal-dialog" role="document">
                            <div class="modal-content">
                              <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title text-primary" id="setautoreplyModalLabel"><span class="fa fa-paper-plane"></span> 設定自動貼文回覆</h4>
                              </div>
                              <div class="modal-body">
                                <form id="setautoreplyForm">
                                    <input type="hidden" id="ser" name="ser">
                                    <input type="hidden" id="articleid" name="articleid">
                                    <div class="form-group">
                                        <label for="recipient-name" class="control-label">配合活動</label>
                                        <select class="form-control" id="actid">
                                        </select>                                    
                                      </div>
                                  <div class="form-group">
                                    <label for="recipient-name" class="control-label">設定文章關鍵字留言</label>
                                    <input type="text" class="form-control" id="keyword" value="" data-role="tagsinput" />                                    
                                  </div>
                                  <div class="form-group">
                                    <label for="message-text" class="control-label">留言回覆內容<small style="color: #999;">(輸入 {{sender_name}} 即可在回覆內容中出現使用者姓名)</small></label>
                                    <textarea class="form-control" id="leavemsg"  name="leavemsg" placeholder="請在此輸入留言回覆內容，不填寫即不做留言回覆"></textarea>
                                  </div>
                                  <div class="form-group">
                                    <label for="messager" class="control-label">私訊回覆內容<small style="color: #999;">(輸入 {{sender_name}} 即可在回覆內容中出現使用者姓名)</small></label>
                                    <textarea class="form-control" id="messager"  name="messager" placeholder="請在此輸入私訊回覆內容，不填寫即不做私訊回復"></textarea>
                                  </div>
                                  <div class="form-group">
                                    <label class="control-label">設定Messgae關鍵字回覆</label>
                                    <input type="text" class="form-control" id="msgkeyword" value="" data-role="tagsinput" />                                    
                                  </div>
                                  <div class="form-group">
                                    <label for="callback" class="control-label">關鍵字私訊回覆內容<small style="color: #999;">(輸入 {{page_link}} 即可在回覆內容中出現刮刮樂活動連結)</small></label>
                                    <textarea class="form-control" id="callback"  name="callback" placeholder="請在此輸入私訊回覆內容，不填寫即不做私訊回復"></textarea>
                                  </div>
                                </form>
                              </div>
                              <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                                <button class="btn btn-primary" id="setBT">設定</button>
                              </div>
                            </div>
                          </div>
                        </div>
                  </div>
              </div>
            </div>            
        </div>
    </div>
</body>
<script src="plugin/jquery/jquery.min.js"></script>
<script src="plugin/bootstrap/js/moment.js"></script>
<script src="plugin/jquery/sweetalert.min.js"></script>
<script src="plugin/bootstrap/js/bootstrap.min.js"></script>
<script src="plugin/taginput/bootstrap-tagsinput.js"></script>
<script src="plugin/jquery/jquery.dataTables.min.js"></script>
<script src="plugin/bootstrap/js/dataTables.bootstrap.min.js"></script>
<script src="script/common.js"></script>
<script src="script/websiteInit.js"></script>
<!--<script src="script/fanspagelist.js"></script>-->
<script>
var scripts = [
    'script/fanspagesetautoreply.js',   
  ];

  for (var i = 0; i < scripts.length; i++) {
    var script = document.createElement('script');
    script.onerror = function() {
      alert('Could not load ' + this.src);
    };
 
    script.src = scripts[i] + '?v=' + Date.now();
    document.body.appendChild(script);
  }    
</script>
</html>